body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#ankibench-title {
	font-size: 14pt;
	font-weight: bold;
	padding-left: 5px;
}

#ankibench-modal-about .modal-content div:not(:first-child) {
	margin-top: 10px;
}

hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#ankibench-learn {
	position: relative;
	height: 100%;
}

#ankibench-learn-footer {
	position: absolute;
	bottom: 0;
	right: 0;
}

#ankibench-learn-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #1565c0;
	color: #fff;
	font-size: 10pt;
	line-height: 20px;
	padding-left: 5px;
}

#ankibench-learn-percent {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	background: rgba(255, 255, 255, 0.3);
	transition-duration: 0.2s;
}

/*div.ankibench-card config*/

div.ankibench-card,
div.ankibench-card-finish {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 400px;
	background: #fff;
	border: 1px solid #eee;
}

div.ankibench-card-finish {
	background: #eee;
	font-size: 14pt;
	text-align: center;
}

div.ankibench-card footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}

div.ankibench-card footer a {
	z-index: auto;
}
div.ankibench-card.normal .ankibench-card-question{
	font-size:16pt;
	font-weight: bold;
}
div.ankibench-card.wordcard .ankibench-card-question {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	line-height: 60px;
	margin: auto;
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}
div.ankibench-card .ankibench-card-question.showFirstLetter,div.ankibench-card .ankibench-card-question.hidden{
	color:rgba(0,0,0,0);
}

div.ankibench-card .ankibench-card-question.showFirstLetter::first-letter{
	color:rgba(0,0,0,1);
}


div.ankibench-card.wordcard .ankibench-card-answer {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 550px;
	height: 290px;
	font-size: 12pt;
	overflow: auto;
	width: 250px;
}
div.ankibench-card .ankibench-card-answer.hidden{
	color:rgba(0,0,0,0);
}