*:focus {
    outline: none;
}
html{
    height:100%;
}
body{
    min-height:100%;
}
a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
}
body{
    user-select: none;
    overflow: hidden;
}
nav{
    height:64px;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
main{
    position:absolute;
    top:64px;
    left:0;
    width:100%;
    height:calc(100% - 64px);
}
input[type="text"]{
    user-select: auto;
}
.nav-wrapper .brand-logo img {
    height: 56px;
    vertical-align: middle;
}
.nav-wrapper .brand-logo{
    font-size:14pt;
}

.collection{
    border:none;
}
.collection[data-listed="false"]{
    border:none;
}
.collection-item{
    list-style-type:none;
}

.collection-item .row{
    margin-bottom: auto;
}

/*単元リストのアイコンの設定*/
#home-list i.material-icons{
    transition-duration: 0.15s;
    cursor: pointer;
}

#home-list i.material-icons:active, #home-list i.material-icons:hover{
    color:rgb(45, 185, 138);
}

#home-list i.material-icons.ankibench-delete:active, #home-list i.material-icons.ankibench-delete:hover{
    color:rgb(255, 0, 0);
}

#learn-button-wrapper{
    margin-left:auto !important;
    margin-right:auto !important;
}

#learn-card{
    transition-duration: 0.1s;
}

@keyframes know-anim{
    20%{
        transform:translate3d(100%, 0, 0);
    }
    100%{
        transform:translate3d(0,0,0);
    }
}

@keyframes unknow-anim{
    20%{
        transform:translate3d(-100%, 0, 0);
    }
    100%{
        transform:translate3d(0,0,0);
    }
}

#learn-card.know{
    animation-name: know-anim;
    animation-duration: 0.15s;
}

#learn-card.unknow{
    animation-name:unknow-anim;
    animation-duration: 0.15s;
}

#learn-card.pre-know{
    background:#f8bbd0;
}

#learn-card.pre-unknow{
    background: #bbdefb;
}

#learn-question{
    font-size:16pt;
    font-weight:bold;
}

#learn-answer{
    padding-top:10px;
    height:200px;
    overflow:auto;
}

#learn-unknow, #learn-know{
    font-size:12pt;
}



#pages{
    position: relative;
    width:100%;
    height:100%;
    overflow-x:hidden;
}
#pages > div{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:0 5px;
    background:#fff;
}
#pages > div.inView{
    animation-name:inView;
    animation-duration: 0.3s;
}
#pages > div.outView{
    animation-name: outView;
    animation-duration: 0.3s;
}
/*animation when back button pushed*/
#pages > div.inViewBack{
    animation-name:inViewBack;
    animation-duration: 0.3s;
}
#pages > div.outViewBack{
    animation-name: outViewBack;
    animation-duration: 0.3s;
}

/*prevent #add-modal from shrinked*/
#add-modal{
    max-height:90% !important;
}

/*change view animations*/
@keyframes inView{
    0%{
        left:100%;
    }
    100%{
        left:0;
    }
}
@keyframes outView{
    0%{
        left:0;
    }
    100%{
        left:-100%;
    }
}
@keyframes inViewBack{
    0%{
        left:-100%;
    }
    100%{
        left:0;
    }
}
@keyframes outViewBack{
    0%{
        left:0;
    }
    100%{
        left:100%;
    }
} 

@media screen and (min-width:600px){
    /*toast shows at left bottom.*/
    #toast-container {
     top: auto !important;
     right: auto !important;
     bottom: 10px;
     left:10px;  
    }
}

.drag-handle{
    cursor:move !important;
}
.ankibench-unit-name{
    cursor:text !important;
}

/*card config*/
#learn-card[data-hide="true"][data-qaaq="qa"] #learn-answer{
    color:rgba(0,0,0,0);
  }
  #learn-card[data-hide="true"][data-qaaq="aq"] #learn-question{
    color:rgba(0,0,0,0);
  }
  #learn-card[data-hide="true"][data-qaaq="aq"][data-firstletter="true"] #learn-question:first-letter{
    color:#000;
  }
.ankibench-displayed-mark{
    background:#000;
    font-size:10pt;
    color:#fff;
    border-radius:2px;
    padding:2px 5px;
}
#learn-card .ankibench-displayed-mark{
    visibility: hidden;
}
#learn-card[data-displayed-bool="true"][data-displayed-mark="true"] .ankibench-displayed-mark{
    visibility: visible;
}
/*問題が隠されているときは、読み上げボタンも隠す*/
#learn-card[data-hide="true"][data-qaaq="aq"] #learn-speak-button{
    visibility: hidden;
}
#learn-card[data-speak="false"] #learn-speak-button{
    display: none;
}
/*サイズ調整*/
#learn-card[data-speak="false"] #learn-know, #learn-card[data-speak="false"] #learn-unknow{
    width:50% !important;
}
